/*********************************************************************************
* WEB422 – Assignment 2
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Nishant Sharma    Student ID: 150619203    Date: 02/02/2023
* Github Link - https://github.com/Nisharrk/moviesFrontend
* Deployed Link - 
*
********************************************************************************/

#moviesTable tr:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#previous-page {
  color: black;
}

#current-page {
  color: black;
}

#next-page {
  color: black;
}
